<?xml version="1.0"?>
<config>
    <modules>
        <Bzaikia_Api>
            <version>0.1.2</version>
        </Bzaikia_Api>
    </modules>
    <global>
        <models>
            <bzaikia_api>
                <class>Bzaikia_Api_Model</class>
            </bzaikia_api>
            <cataloginventory>
                <rewrite>
                    <stock_item>Bzaikia_Api_Model_CatalogInventory_Stock_Item</stock_item>
                    <observer>Bzaikia_Api_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
            <sales>
                <rewrite>
                    <quote>Bzaikia_Api_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <bzaikia_api>
                <class>Bzaikia_Api_Block</class>
            </bzaikia_api>
        </blocks>
        <helpers>
            <bzaikia_api>
                <class>Bzaikia_Api_Helper</class>
            </bzaikia_api>
        </helpers>
        <resources>
            <bzaikia_api_setup>
                <setup>
                    <module>Bzaikia_Api</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </bzaikia_api_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>bzaikia_api/observer</class>
                        <method>orderPlaceAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_place_after>

            <customer_save_after>
                <observers>
                    <bzaikia_api>
                        <type>singleton</type>
                        <class>Bzaikia_Api_Model_Observer</class>
                        <method>customerSaveAfter</method>
                    </bzaikia_api>
                </observers>
            </customer_save_after>

            <gene_braintree_creditcard_sale_array>
                <observers>
                    <bzaikia_api>
                        <type>singleton</type>
                        <class>Bzaikia_Api_Model_Observer</class>
                        <method>geneBraintreeSaleArray</method>
                    </bzaikia_api>
                </observers>
            </gene_braintree_creditcard_sale_array>

            <gene_braintree_paypal_sale_array>
                <observers>
                    <bzaikia_api>
                        <type>singleton</type>
                        <class>Bzaikia_Api_Model_Observer</class>
                        <method>geneBraintreeSaleArray</method>
                    </bzaikia_api>
                </observers>
            </gene_braintree_paypal_sale_array>

            <sales_quote_item_qty_set_after>
                <observers>
                    <bzaikia_api>
                        <type>singleton</type>
                        <class>Bzaikia_Api_Model_Observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                    </bzaikia_api>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <external_bundle_id><to_order>external_bundle_id</to_order></external_bundle_id>
            </sales_convert_quote>
        </fieldsets>
    </global>
</config>